#include <windows.h>

#define IDI_PADMIRROR 101
IDI_PADMIRROR ICON "../../../assets/icons/PadMirror.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,11,0
 PRODUCTVERSION 0,1,11,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "PadMirror\0"
            VALUE "FileDescription", "PadMirror\0"
            VALUE "FileVersion", "0.1.11\0"
            VALUE "InternalName", "PadMirror\0"
            VALUE "OriginalFilename", "PadMirror.exe\0"
            VALUE "ProductName", "PadMirror\0"
            VALUE "ProductVersion", "0.1.11\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
